

body{
    background-color: rgb(241, 241, 56);
}

.intro{
    text-align: center;
    color: rgb(70, 26, 230);
    font-size: 2.5rem;
}


#main {
    height: 452px;
    width: 500px;
    margin: 5% 31%;
    text-align: center;
    border: 3px solid yellow;
    background-color: yellow;
   
    border-radius: 10px;
}
.text{
   
    width: 373px;
    height: 43px;
    border-radius: 6px;
    margin: 10px;
    background-color:aquamarine;
    border-color:rgb(71, 238, 182) ;
}

.btn{
    border-radius: 6px;
    height: 70px;
    width: 80px;
    padding: 1px;
    margin: 2px;
    background-color: bisque;
    border-color: rgb(247, 203, 151) ;
}
.btn:hover{
    border-radius: 6px;
    height: 71px;
    width: 81px;
    padding: 1px;
    margin: 2px;
    background-color: rgb(245, 235, 223);
    border-color: rgb(247, 203, 151) ;

}
.equal{
    border-color:rgb(139, 14, 129) ;
    margin: 10px;
    border-radius: 8px;
    background-color: rgb(238, 38, 221);
    height: 70px;
    width: 213px;
}
.equal:hover{
    border-color:rgb(139, 14, 129) ;
    margin: 10px;
    border-radius: 8px;
    background-color: rgb(236, 63, 222);
    height: 73px;
    width: 215px;

}

